.Header{
    display: flex;
    border: 1px solid rgb(57, 62, 70,0.3);
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(67, 67, 67, 0.2);
    color: var(--cm-light);
    margin: 10px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.HeaderTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
    flex: 1;
    margin-left: 30px;
}
.HeaderTitle h1{
    /* border: 1px solid red; */
    font-size: 25px;
}
.HeaderTitle img{
  /* border: 1px solid red; */
  height: 50px;
  width: 48px;
}
.HeaderNav{
    /* border: 1px solid red; */
    flex: 1;
    margin-right: 30px;
}
.HeaderNav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
}