body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cm-dark);
  color: var(--cm-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cm-dark:   #222831; /* primary dark */
  --cm-mid:    #393E46; /* secondary */
  --cm-accent: #00ADB5; /* accent */
  --cm-light:  #EEEEEE; /* light / background */
}
.cm { 
  color: var(--cm-accent);
}
.cm-bg {
  background-color: var(--cm-accent); color: var(--cm-dark);
}